openapi: 3.0.0
tags:
  - name: Sentences
  - name: Books
info:
  title: Random Lovecraft
  version: '1.0'
  description: Random sentences from the complete works of H.P. Lovecraft. CORS-enabled.
servers:
  - url: https://randomlovecraft.com/api
paths:
  /sentences:
    summary: ''
    get:
      summary: A random sentence
      description: 'Get a random sentence or sentences from the works of Lovecraft using the limit parameter. '
      parameters:
        - schema:
            type: integer
            default: 1
            maximum: 100
          in: query
          name: limit
      operationId: getSentences
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/sentence'
      tags:
        - Sentences
  /sentences/{id}:
    summary: ''
    get:
      summary: A specific sentence
      description: 'Get a specific sentence from the works of Lovecraft using the sentence ID.'
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Sentence ID
      operationId: getSpecificSentence
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/sentence'
      tags:
        - Sentences
  /books/{id}/sentences:
    summary: ''
    get:
      summary: Random sentences from a specific book
      description: 'Get random sentences from a specific book using the Book ID. '
      parameters:
        - schema:
            type: string
          name: id
          in: path
          required: true
          description: Book ID
        - schema:
            type: integer
            default: 1
            maximum: 100
          in: query
          name: limit
      operationId: getSentencesFromBook
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/sentence'
      tags:
        - Sentences
  /books:
    summary: ''
    get:
      summary: List all books
      description: 'Get all books of Lovecraft.'
      operationId: getBooks
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/book'
      tags:
        - Books
components:
  schemas:
    sentence:
      type: object
      properties:
        id:
          type: string
          example: d75b3350
        sentence:
          type: string
          example: Around the first week in July I developed an unaccountable set of mixed emotions about that general northeasterly region.
        book:
          $ref: '#/components/schemas/book'
    book:
      type: object
      properties:
        id:
          type: string
          example: afd6
        name:
          type: string
          example: The Shadow Out of Time
        year:
          type: string
          example: '1934'
